*{
    font-family: 'Playfair';
}
html,body{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'Playfair';
    src:url('PlayfairDisplay-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
#content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #8d4d16;
    justify-content: center;
    align-items: center;
    background: url('background.png');
}
.header,.menu,.home,.recipe,.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    background-color: #6E260E;
}
.header{
    position: relative;
    margin-top: 5px;
    width: 97vw;
    height: 14vh;
    min-height: 100px;
    background-color: black;
    border-radius: 100px;
    color: rgb(219, 123, 5);
    font-family: 'Playfair', 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 70px;
}
.menu{
    position: absolute;
    top: 110px;
    margin: 0 auto;
    color: rgb(219, 123, 5);
    background-color: black;
    border-radius: 100px;
    width: 500px;
    height: 100px;
    justify-content: space-around;
    font-size: 20px;
    font-weight:bolder;
}
.buffer{
    min-height: 30px;
    height: 50px;
}
.home,.recipe,.contact{
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
}
.home:hover,.recipe:hover,.contact:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid navajowhite;
}
.home:active,.recipe:active,.contact:active{
    transform: scale(0.99);
}
.mainPage,.recipePage,.contactPage{
    flex: 1;
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hours{
    background-color: black;
    color:rgb(219, 123, 5);
    margin-top: 20px;
    height: 500px;
    width: 400px;
    border-radius: 100px;
    line-height: 50px;
    font-size: large;
    font-weight:bolder;
}
.blurb,.topBlurb{
    background-color: black;
    height: 1050px;
    width: 700px;
    margin-top: 20px;
    border-radius: 100px;
    color:rgb(167, 94, 6);
}
.topBlurb{
    margin-top:20px;
}
.hoursH2{
    text-align: center;
}
.coffeeIcon{
    position:absolute;
    margin-right: -600px;
    height: 140px;
    width: 140px;
    z-index: 1;
}
@media only screen and (max-width:1400px){

}
@media only screen and (max-width:800px){
    .menu{
        width: 100%;
        border-radius: 0;
    }
    .header{
        border-radius: 0;
    }
    .coffeeIcon{
        visibility: hidden;
    }
    .blurb,.topBlurb,.hours{
        border-radius: 0;
    }
}